
main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 86vh;
  background-color:  var(--clr-1);
}

main > .content{
  height: 65vh;
  width: 45%;
  background-color: rgba(229, 224, 224, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.loginContent{
  width: 55%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  width: 100%;
  height: 2rem;
  background-color: inherit
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: var(--clr-1);
  margin-top: 1rem;
  
}
input:focus {
  border-color: var(--clr-3);
  outline: 1px dotted #000
}

::placeholder { 
  color: var(--clr-2);
  opacity: 1; 
}
span{
  color: var(--clr-2);
}
button{
  margin: auto; /* Centers horizontally */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 2rem;
  background-color: var(--clr-2);;
}

.ctop{

  width: 100%;
  margin: 2rem;
}

